@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    background-color: rgb(144, 220, 243);
    background-image: url("bg.jpg");
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: rgb(224, 153, 153);
    color: white;
}


nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 44px;
    padding: 0 8px;
}


.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.img-desktop
{
    display: flex;
    height: 10rem;
    gap: 1rem;
    margin-top: 2%;

}
img
{
    flex: 2;
    border-radius: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transition: 
    all .8s cubic-bezier(.25, .4, .45, 1.4);

}
img:hover
{
    flex: 8;
}


.container{
    min-height: 72vh;
    background-color: rgb(139, 237, 204);
    color: white;
   font-family: 'Varela Round', sans-serif;
   display: flex;
   margin: 23px auto;
   width: 70%;
   border-radius: 12px;
   padding: 34px;
   background-image: url("bg.jpeg");
   
}

.bottom{
    position: sticky;
    bottom: 0;
    height: 130px;
    background-color: rgb(242, 228, 146);
    color: rgb(14, 12, 12);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.icons{
    margin-top: 10px; 
}
.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw; 
    cursor: pointer;
}

.songItemContainer{
    margin-top: 50px;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: rgb(130, 125, 125);
    
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.songItem img{
    width: 40px;
    margin: 0 10px;
    border-radius: 50px;
}

.timestamp{
    margin: 0 30px;
}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img{
    opacity: 10px;
    transition: opacity 0.4s ease-in;
}

@media only screen and (max-width: 1100px) {
    body {
      background-color: rgb(240, 234, 234);
    }
  }